:root {
  --postWidth: 30vw;
}
.postContainer {
  display: flex;
  border: solid 1px var(--greyHighlight);
  border-radius: 8px;
  flex-direction: column;
  min-width: 30vw;
  max-width: 95vw;
  margin: 25px;
}

.userDateHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.optionsEllipses {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.optionsEllipses:hover {
  cursor: pointer;
  opacity: 75%;
}
.postInfoContainer {
  padding: 15px;
}
.iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icons {
  cursor: pointer;
  height: 35px;
}
.icons:hover {
  opacity: 60%;
}
.datePublished {
  color: grey;
  font-size: 0.75rem;
}
.viewAllComments {
  font-size: 0.9rem;
  color: grey;
  cursor: pointer;
}
.liked {
  color: red;
}
.iconsSpacing {
  gap: 1vw;
}

.postImages {
  width: 35vw;
}
.imgContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
