.postExpandedContainer {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-bottom: solid 1px var(--grey-1);
}
.postExpandedWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 5px;
}
.postWrap {
  overflow-wrap: normal;
}
.textSizing {
  font-size: 0.85rem;
  padding: 0;
  margin: 0;
}
.userName {
  font-weight: 900;
}
.flexColumn {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
.timestamp {
  font-size: 0.7rem;
}
.postFirstLine {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: fit-content;
}
