.postContainer {
  display: flex;
  border: solid 1px var(--greyHighlight);
  border-radius: 8px;
  flex-direction: column;
  margin: 25px;
}

.userDateHead {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
}
.optionsEllipses {
  height: 30px;
  width: 30px;
  cursor: pointer;
}
.optionsEllipses:hover {
  cursor: pointer;
  opacity: 75%;
}
.postInfoContainer {
  padding: 15px;
}
.iconsContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.icons {
  cursor: pointer;
  height: 35px;
}
.icons:hover {
  opacity: 60%;
}
.datePublished {
  color: grey;
  font-size: 0.75rem;
}
.viewAllComments {
  font-size: 0.9rem;
  color: grey;
  cursor: pointer;
}
.liked {
  color: red;
}
.iconsSpacing {
  gap: 1vw;
}

.postImages {
  width: 35vw;
}
.imgContainers {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.fullPageCover {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(24, 24, 24, 0.7);
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}
.grey {
  opacity: 0.4;
  background-color: rgba(200, 200, 200, 0.5);
}
.sliderContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  border: solid 1px red;
}
@media only screen and (max-width: 1000px) {
  .carouselWrapper {
    width: 60vw;
    border: solid blue 1px;
  }
  .postImages {
    width: 60vw;
  }
}
@media only screen and (max-width: 750px) {
}
