.loadingIconContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
  width: 100%;
}
.postsMargin {
  padding-left: 7.5vw;
  position: relative;
}
.infiniteCheckLoad {
  height: calc(10vh + var(--mobileBottomBarHeight));
  width: 100%;
}
.loadingIconWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: center;
}

@media only screen and (max-width: 750px) {
  .postsMargin {
    padding-left: 0;
  }
}
