.fullScreenContainer {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 3;
}
.modalContainerFullScreenCenter {
  width: 100%;
  height: 100%;
  top: 0px;
  left: 0px;
  position: fixed;
  background-color: rgba(24, 24, 24, 0.7);
}
.closeModalBtnContainer {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  height: 10vh;
}
.closeModalBtn {
  cursor: pointer;
  color: white;
  font-size: 24px;
}
.paddingWrapper {
  padding-right: 25px;
}
.postModalWrapper {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}
.postModalContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  border-radius: 8px;
  min-width: 40vw;
  max-width: 97.5vw;
  min-height: 77.5vh;
}
.postPreviewContainer {
  display: flex;
  background-color: white;
  border-radius: 8px;
  min-width: 40vw;
  max-width: 97.5vw;
  min-height: 77.5vh;
}

.innerPostModalContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  flex: 1;
  padding: 15px;
}
.instructionsTxt {
  font-size: 1.8rem;
}
