.notificationsWrapper {
  grid-column: 2/3;
  display: flex;
  flex-direction: column;
  z-index: 5;
}
.notifsHeader {
  padding: 10px 0px 0px 15px;
  margin-left: -8px;
  border-bottom: 1px solid black;
}
.searchBoxContainer {
  border-bottom: solid 1px var(--greyHighlight);
  padding-bottom: 20px;
}
.notificationsMinorWrapper {
  display: flex;
  height: 85vh;
  overflow: scroll;
  flex-direction: column;
}

.searchInput {
  background-image: url('./assets/favicons/search-grey.svg');
  background-repeat: no-repeat;
  background-size: 22.5px;
  background-position: left 5px center;
  height: 35px;
  padding-left: 30px;
  width: 300px;
  border: 1px solid var(--greyHighlight);
  border-radius: 8px;
  font-size: 1rem;
}
.searchInput:focus {
  outline: none;
}
