.squarePreviewContainer {
  height: var(--userPreviewContentHeight);
  width: var(--userPreviewContentHeight);
  overflow: hidden;
  cursor: pointer;
  background-color: white;
}
.squarePreviewContent {
  min-height: var(--userPreviewContentHeight);
  max-height: calc(var(--userPreviewContentHeight) + 10vw);
}
.contentTypeIndicatorContainer {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}
.contentIndicatorWrapper {
  display: flex;
  width: 100%;
  justify-content: flex-end;
  padding-right: 5px;
  align-items: center;
  position: absolute;
  top: 0;
}
.contentIndicatorIcon {
  height: calc((var(--userPreviewContentHeight) * 0.1));
}

@media only screen and (max-width: 750px) {
  .squarePreviewContainer {
    height: calc(100vw / 3);
    width: calc(100vw / 3);
  }
  .squarePreviewContent {
    min-height: calc(100vw / 3);
    max-height: 45vw;
  }
  .contentIndicatorIcon {
    height: calc(33vw * 0.15);
  }
}
