.contentLayoutGrid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: var(--userLayoutGridGap);
}
.noDataFoundMessage {
  grid-column: 2/3;
  width: 100%;
}
@media only screen and (max-width: 750px) {
  .contentLayoutGrid {
    gap: 0px;
    width: 100vw;
    padding-bottom: var(--mobileBottomBarHeight);
  }
}
