.profileAvatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 7.5vw;
  width: 100%;
  padding: 20px;
}
.profileAvatarWrapper {
  height: 20vh;
  width: 20vh;
  border-radius: 50%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}
.optionsWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 10px;
}
.optionsColumn {
  display: flex;
  flex-direction: column;
}
.avatarImg {
  height: 20vh;
}
.userName {
  font-size: 1.2rem;
  font-weight: 500;
}
.userStatsContainer {
  display: flex;
  gap: 5vw;
  padding: 0;
  margin: 0;
}
.userInfo > p {
  padding: 0;
  margin: 0;
}
.userInfo > a {
  color: rgb(51, 102, 204);
}
.realName {
  font-weight: 600;
  padding: 0;
  margin: 0;
}
.stats {
  font-weight: 600;
  font-style: normal;
}
.editButton {
  background-color: rgb(235, 235, 235);
  border: none;
  border-radius: 3px;
  padding: 7.5px 15px 7.5px 15px;
  font-weight: 600;
  cursor: pointer;
}
.editButton:hover {
  background-color: var(--grey-2);
}
.followButton {
  background-color: var(--blue-1);
  border: none;
  border-radius: 5px;
  padding: 7.5px 15px 7.5px 15px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}
.followButton:hover {
  background-color: var(--blue-2);
}
.unFollowButton {
  color: black;
  background-color: var(--grey-1);
}
.unFollowButton:hover {
  background-color: var(--grey-2);
}
