.userNameEmphasis {
  font-weight: bold;
  font-style: normal;
  font-size: 0.9rem;
}
.userAvatarCutout {
  width: 35px;
  height: 35px;
  position: relative;
  overflow: hidden;
  border-radius: 50%;
}
.userAvatar {
  display: inline;
  margin: 0, auto;
  height: 100%;
  position: relative;
}
.nameAvatarHeader {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 10px 10px 10px 0px;
}
.nameLocationHeader {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.nameLocationHeader > p {
  margin: 3px;
  padding: 0;
  line-height: 0.5rem;
}
.locationStrip {
  font-size: 0.8rem;
  font-style: normal;
}
