.commentAreaContainer {
  width: 100%;
  border-top: 1px solid rgb(200, 200, 200);
}
.formContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10.5px;
}
.commentInput {
  resize: none;
  height: 1.25rem;
  font-size: 1rem;
  border: none;
  background-color: rgba(255, 255, 255, 0);
}
.commentInput:focus {
  outline: none;
}
.postBtn {
  border: none;
  background-color: rgba(255, 255, 255, 0);
  font-weight: bold;
  color: rgba(0, 61, 166, 0.5);
}
.activePost {
  cursor: pointer;
  color: rgb(0, 61, 166);
}
.loadingIconContainer {
  height: 1.25rem;
  width: 1.25rem;
  position: relative;
}
