.overviewContainer {
  display: flex;
  overflow: scroll;
  cursor: pointer;
  padding: 5px;
}
.userAvatarCutout {
  height: 40px;
  width: 40px;
  border-radius: 50%;
  overflow: hidden;
}
.userAvatar {
  height: 40px;
}
.nameContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  gap: 3px;
}
.nameContainer > p {
  margin: 0;
  padding: 0;
  font-size: 0.8rem;
  line-height: 0.8rem;
}
.username {
  font-weight: 700;
}
.realNameEmphasis {
  color: rgb(100, 100, 100);
  font-style: normal;
}
