.clearSearchHistory {
  color: var(--blue-1);
  cursor: pointer;
  font-weight: 600;
}
.clearSearchHistory:hover {
  color: var(--blue-3);
}
.headingContainer {
  display: flex;
  justify-content: space-between;
  padding-right: 15px;
}
.searchContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
  cursor: pointer;
}
.searchContainer:hover {
  background-color: var(--grey-1);
}
.removeResult {
  cursor: pointer;
  height: 25px;
}
