.defaultModal {
  z-index: 6;
  background-color: white;
  border-radius: 10px;
  width: 300px;
  min-width: fit-content;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.center {
  padding-top: 10px;
  padding-bottom: 10px;
  width: 100%;
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}
.column {
  flex-direction: column;
}
.danger {
  color: red;
  font-weight: 600;
}
.neutral {
  color: var(--blue-1);
  font-weight: 600;
}
.bottomBorder {
  border-bottom: 1px solid var(--grey-2);
}
.topBorder {
  border-top: 1px solid var(--grey-2);
}
.softText {
  color: var(--grey-5);
  margin: 0;
  padding: 0;
}
.containedText {
  width: 90%;
}
.editContainer {
  display: flex;
  flex-direction: column;
}
.postBody {
  display: flex;
  justify-content: center;
  height: 100%;
  border: solid red 1px;
  align-items: flex-start;
}
.postInput {
  resize: none;
  height: 50%;
  border: none;
  font-size: 1rem;
  border-bottom: 1px solid var(--greyHighlight);
  padding: 15px;
}
.postInput:focus {
  outline: none;
}
.editHeader {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 15vw;
}
.editHeader > span {
  padding: 7.5px;
}
.header {
  font-weight: 600;
}
.doneBtn {
  color: var(--blue-2);
  font-weight: 600;
}
.headerPostWrapper {
  height: 100%;
  border: solid red 1px;
}
