@font-face {
  font-family: 'Dancing';
  src: url('./assets/fonts/dancingScript.ttf');
}
.brandName {
  font-family: 'Dancing';
}
.brandContainer {
  padding-left: 35px;
}
.optionsSidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: fixed;
  left: 0;
  width: 15vw;
  padding: 10px;
  border-right: solid var(--greyHighlight) 1px;
  background-color: white;
}
.optionsSidebar > div {
  width: 100%;
}
.optionsIcons {
  height: 30px;
}
.optionSpan > .optionsIcons {
  transition: transform 0.2s ease-in-out;
}
.optionSpan > .avatarCircle {
  transition: transform 0.2s ease-in-out;
}
.optionSpan:hover > .optionsIcons {
  transform: scale(110%);
}
.optionSpan:hover > .avatarCircle {
  transform: scale(110%);
}

.optionSpan {
  background-color: white;
  border: none;
  display: flex;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  max-width: 100vw;
  padding: 15px;
  height: 30px;
  border-radius: 12px;
  font-size: 0.65rem;
  overflow: hidden;
}
.optionSpan:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
a {
  text-decoration: none;
  color: black;
}
.newPostIcon {
  padding: 0;
  border: solid 2px black;
  border-radius: 12px;
}
.avatarCircle {
  border-radius: 50%;
  overflow: hidden;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border: solid 1px black;
}
.optionsImage {
  height: 35px;
}
