@font-face {
  font-family: 'Dancing';
  src: url('./assets/fonts/dancingScript.ttf');
}
.brandName {
  font-family: 'Dancing';
}
.brandContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  padding: 0;
  line-height: 1rem;
}
.optionsSidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  width: var(--optionsSideBarWidth);
  background-color: white;
}
.minifiedBar {
  width: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100vh;
  position: fixed;
  left: 0;
  border-right: solid var(--greyHighlight) 1px;
  background-color: white;
  z-index: 2;
}
.optionsSidebar > div {
  width: 100%;
}
.optionsIcons {
  height: 36px;
}
.optionSpan > .optionsIcons,
.optionSpan > .githubIcon,
.optionSpan > .newPostIcon {
  transition: transform 0.2s ease-in-out;
}
.optionSpan > .avatarCircle {
  transition: transform 0.2s ease-in-out;
}
.optionSpan:hover > .optionsIcons,
.optionSpan:hover > .githubIcon,
.optionSpan:hover > .newPostIcon {
  transform: scale(105%);
}
.optionSpan:hover > .avatarCircle {
  transform: scale(105%);
}

.optionSpan {
  background-color: white;
  border: none;
  display: flex;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  padding: 15px;
  height: 30px;
  border-radius: 12px;
  font-size: 0.65rem;
  overflow: hidden;
}
.optionSpan:hover {
  cursor: pointer;
  background-color: rgb(230, 230, 230);
}
a {
  text-decoration: none;
  color: black;
}
.newPostIcon {
  padding: 0;
  border: solid 2px black;
  border-radius: 12px;
  height: 35px;
}
.avatarCircle {
  border-radius: 50%;
  overflow: hidden;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  border: solid 1px black;
}
.optionsImage {
  height: 35px;
}
.instagramIcon {
  margin: 16px 0px 28px 0px;
}
.githubIcon {
  height: 37.5px;
}
.sideBarContainer {
  height: 100vh;
  position: fixed;
  left: 0;
  z-index: 3;
  width: fit-content;
  background-color: white;
  border: 1px solid var(--greyHighlight);
}
.outlineExpanded {
  background-color: white;
  border-radius: 8px;
  width: var(--optionsBarExpanded);
  display: grid;
  grid-template-columns: 1fr 5fr;
  border: 1px solid var(--greyHighlight);
}
.notificationsContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.newNotifications {
  position: absolute;
  right: 0;
  top: 1px;
  height: 10px;
  width: 10px;
  border-radius: 50%;
  background-color: rgb(255, 47, 47);
  border: solid 2px white;
}
.closingWrapper {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 255, 0.415);
}
