.optionsSidebar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  position: fixed;
  left: 0;
  width: 25vw;
  padding: 25px;
}
.optionsIcons {
  height: 30px;
}

.optionSpan {
  background-color: white;
  border: none;
  display: flex;
  height: fit-content;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
  min-width: var(--post-width);
  max-width: 100vw;
  padding: 15px;
  height: 30px;
  border-radius: 12px;
}
.optionSpan:hover {
  cursor: pointer;
  background-color: rgb(227, 227, 227);
}
a {
  text-decoration: none;
  color: black;
}
