.editWrapper {
  border-radius: 5px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  margin-top: 30px;
  border: solid 1px var(--grey-2);
}

.displayOptionWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  padding: 0px 20px 20px 20px;
  width: 500px;
}
.optionsBarContainer {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  width: 15vw;
  height: 100%;
  border-right: solid 1px var(--grey-2);
}
.optionsBarContainer > div {
  padding-top: 10px;
  padding-bottom: 10px;
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: flex-start;
  border-left: 2px solid rgba(255, 255, 255, 0);
}
.spanOptions {
  padding-left: 15px;
}
.optionsBarContainer > div:hover {
  border-left: solid 2px var(--grey-5);
  background-color: var(--grey-1);
}
div.selected {
  border-left: solid 2px black;
}
/* EditProfileOverview.jsx */

.userAvatarContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
  padding-top: 20px;
  margin-bottom: 10px;
}
.avatarCutout {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}
.userAvatar {
  height: 50px;
}

.userAvatarOptionsContainer {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}
.userAvatarOptionsContainer > p {
  padding: 0;
  margin: 0;
}

.changeAvatarBtn {
  color: var(--blue-1);
  font-weight: 600;
  cursor: pointer;
}
.changeAvatarBtn:hover {
  color: var(--blue-4);
}
.realnameContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.usernameContainer {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.labelInputWrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}
.userOptionsWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;
}
.userOptionsWrapper > div {
  min-width: 500px;
}
.infoWrapper {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 400px;
}
.infoWrapper > p {
  color: var(--grey-5);
  font-size: 0.9rem;
}
.labelInputWrapper > input,
.labelInputWrapper > textarea {
  width: 300px;
  height: 1.5rem;
}
.labelInputWrapper > textarea {
  resize: vertical;
}
.labelInputWrapper > label {
  font-weight: 600;
}
.submitContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0px 0px 20px;
}
.submitBtn {
  background-color: var(--blue-1);
  color: white;
  padding: 10px;
  border-radius: 5px;
  border: none;
  font-weight: 600;
  cursor: pointer;
}
.submitBtn:hover {
  background-color: var(--blue-2);
}
.visibilityIcon {
  height: 25px;
  position: absolute;
  right: 5px;
  z-index: 5;
  cursor: pointer;
}
