.navLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  gap: 2.5vw;
  border-top: solid 1px var(--greyHighlight);
}
.optionWrapper:hover {
  cursor: pointer;
}
.optionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
}
.selected {
  border-top: solid 1px black;
}
.icons {
  height: 17.5px;
}
