.navLayout {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 120%;
  gap: 2.5vw;
  border-top: solid 1px var(--greyHighlight);
}
.optionWrapper:hover {
  cursor: pointer;
}
.optionWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
.selected {
  border-top: solid 1px black;
}
.icons {
  height: 17.5px;
}
@media only screen and (max-width: 750px) {
  .optionWrapper {
    flex: 1;
    padding: 10px 0 10px 0;
    background-color: white;
  }
  .optionWrapper > p {
    display: none;
  }
  .icons {
    height: 30px;
  }
  .navLayout {
    width: 100vw;
    gap: 0px;
  }
  .selected {
    background-color: var(--grey-0);
  }
}
