.previewImagesContainer {
  display: flex;
  justify-content: center;
  border-right: solid 1px rgb(200, 200, 200);
}
.previewImageWrapper {
  max-width: 60vw;
  min-width: 300px;
}
.previewImage {
  width: 100%;
}
.optionsWrapper {
  display: flex;
  flex-direction: column;
  width: 60%;
  line-height: 0.2rem;
}
.headerOptsContainer {
  display: flex;
  justify-content: center;
  width: 100%;
  line-height: 0.2rem;
}
.optionsRuleSpanArea {
  width: 50%;
  text-align: center;
}
.rule {
  height: 1px;
  background-color: rgb(200, 200, 200);
}
.adjustmentBtns {
  cursor: pointer;
}
.selected {
  background-color: black;
}
