:root {
  --userLayoutGridGap: 2vw;
  --userPreviewContentHeight: 20vw;
  --greyHighlight: rgb(200, 200, 200);
  --optionsSideBarWidth: 200px;
  --optionsBarExpanded: 450px;
}
body {
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  grid-template-columns: 1fr 2.5fr 2fr;
  grid-template-rows: 1fr;
}
