:root {
  --userLayoutGridGap: 2vw;
  --userPreviewContentHeight: 20vw;
  --greyHighlight: rgb(200, 200, 200);
  --grey-1: rgb(235, 235, 235);
  --grey-2: rgb(200, 200, 200);
  --grey-3: rgb(180, 180, 180);
  --grey-4: rgb(150, 150, 150);
  --grey-5: rgb(100, 100, 100);
  --optionsSideBarWidth: 200px;
  --optionsBarExpanded: 450px;
  --blue-1: rgb(0, 149, 246);
  --blue-1_5: rgb(0, 130, 220);
  --blue-2: rgb(0, 116, 204);
  --blue-3: rgb(0, 99, 186);
  --blue-4: rgb(0, 80, 150);
  --blue-5: rgb(0, 60, 130);
  --blue-6: rgb(0, 40, 110);
}
body {
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  grid-template-columns: 1fr 2.5fr 2fr;
  grid-template-rows: 1fr;
}
