:root {
  --userLayoutGridGap: 2vw;
  --userPreviewContentHeight: 20vw;
  --greyHighlight: rgb(200, 200, 200);
  --optionsSlideBarWidth: 20vw;
}
body {
  margin: 0;
  padding: 0;
}
.App {
  display: grid;
  grid-template-columns: 1fr 2.5fr 2fr;
  grid-template-rows: 1fr;
}
